In [1]:
from pyspark import SparkConf
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
import pandas as pd
import data_transform_utilities.flatten as flatten
from data_transform_utilities.text_parsers import  clean_str, extract_json, json_str_to_array, normalize_and_tokenize_text
import matplotlib.pyplot as plt

import re
from pyspark.sql.functions import udf
from pyspark.sql.types import ArrayType, StringType

import pysolr
from sqlalchemy import create_engine
import json
import requests

from sqlalchemy import create_engine, update, Table, MetaData
from sqlalchemy.orm import sessionmaker

In [2]:
spark_conf = SparkConf()
spark_conf.set("spark.cores", "12")
spark_conf.set("spark.driver.cores", "12")
spark_conf.set("spark.driver.memory", "16g")
spark_conf.set("spark.speculation", False)
spark_conf.set("spark.jars.packages", "com.mysql:mysql-connector-j:9.2.0")

spark = SparkSession \
    .builder.master("local") \
    .appName("Decision data overview") \
    .config(conf=spark_conf) \
    .enableHiveSupport() \
    .getOrCreate()

:: loading settings :: url = jar:file:/home/allan/Workspace/fiap-datathon-decision/.venv/lib/python3.10/site-packages/pyspark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/allan/.ivy2/cache
The jars for the packages stored in: /home/allan/.ivy2/jars
com.mysql#mysql-connector-j added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-4c05e2ca-f344-44eb-abb5-8ca86a9d6cd3;1.0
	confs: [default]
	found com.mysql#mysql-connector-j;9.2.0 in central
	found com.google.protobuf#protobuf-java;4.29.0 in central
:: resolution report :: resolve 153ms :: artifacts dl 4ms
	:: modules in use:
	com.google.protobuf#protobuf-java;4.29.0 from central in [default]
	com.mysql#mysql-connector-j;9.2.0 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   2   |   0   |   0   |   0   ||   2   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-4c05e2ca-f344-44eb-abb5-8ca86a9d6cd3
	confs: [default]
	0 artifacts copied, 2 already retrieved (0kB/9ms)
25/05/03 10:50:28 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

# Registra as UDFs para o Spark

In [3]:
spark.udf.register("json_str_to_array", json_str_to_array, ArrayType(StringType()))
spark.udf.register("normalize_and_tokenize_text", normalize_and_tokenize_text, ArrayType(StringType()))

# Cria conexão com o banco MySQL

In [4]:
engine = create_engine("mysql+pymysql://decision:1234@localhost/decision?charset=utf8")

# Analise dos dados reais sobre requisitos das Vagas

In [5]:
spark.read.jdbc(
    url="jdbc:mysql://decision:1234@localhost:3306/decision?charset=utf8",
    table="vacancies",
    properties={"driver": "com.mysql.cj.jdbc.Driver"}
).createOrReplaceTempView("vacancies")

25/05/03 10:50:32 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

In [6]:
spark.read.jdbc(
    url="jdbc:mysql://decision:1234@localhost:3306/decision?charset=utf8",
    table="vacancies_applicants",
    properties={"driver": "com.mysql.cj.jdbc.Driver"}
).createOrReplaceTempView("vacancies_applicants")

# Tokenização dos dados textuais das vagas e dos candidatos

In [ ]:
spark.sql(f"""
    SELECT
        v.id,
        normalize_and_tokenize_text(
            CONCAT(
                COALESCE(main_activities, ''), '\n', 
                COALESCE(technical_and_behavioral_skills, ''), '\n',
                COALESCE(behavioral_skills, '')
            )
        ) AS infos,
        get_json_object(llm_result, '$.requirements[*].name') as requirements
    FROM
        vacancies v
        LEFT JOIN vacancies_applicants va ON v.id = va.vacancy_id
    WHERE
        va.applicant_id IS NOT NULL
""").createOrReplaceTempView("tmp_vacancy_infos")

In [8]:
spark.sql(f"""
    SELECT
        TRIM(id) as id,
        TRIM(SUBSTR(info, 0, 255)) as token
    FROM
        tmp_vacancy_infos
        LATERAL VIEW explode(infos) AS info
    GROUP BY 1,2
    HAVING LENGTH(token) > 0
""").cache().createOrReplaceTempView("tmp_vacancy_infos_cleaned")

In [9]:
tokens = spark.sql(f"""SELECT id as vacancy_id, token FROM tmp_vacancy_infos_cleaned group by 1,2""").coalesce(1) \
    .write \
    .option("spark.speculation", False) \
    .jdbc( \
    url="jdbc:mysql://localhost:3306/decision", \
    table="vacancies_tokens_tmp_2", \
    mode="overwrite", \
    properties={"driver":"com.mysql.jdbc.Driver", "user":"decision", "password":"1234"} \
    )

Loading class `com.mysql.jdbc.Driver'. This is deprecated. The new driver class is `com.mysql.cj.jdbc.Driver'. The driver is automatically registered via the SPI and manual loading of the driver class is generally unnecessary.

# Observando o resultado da tokenização dos textos das vagas

In [10]:
spark.sql(f"""
    SELECT
        token,
        count(distinct id) as vacancies
    FROM
        tmp_vacancy_infos_cleaned
    GROUP BY 1
    ORDER BY 2 desc
""").show(10, False)

+-------------------------------------------------------------------------------+---------+
|token                                                                          |vacancies|
+-------------------------------------------------------------------------------+---------+
|1                                                                              |1276     |
|8                                                                              |695      |
|00pm                                                                           |647      |
|00am to 5                                                                      |619      |
|primary skill  others please note the skill at the beginning of job description|547      |
|outros detalhes do trabalho                                                    |515      |
|etc                                                                            |509      |
|horas                                                                          |409      |
|desejável                                                                      |407      |
|atividades                                                                     |385      |
+-------------------------------------------------------------------------------+---------+
only showing top 10 rows

In [11]:
spark.sql(f"""
    SELECT
        token,
        count(distinct id) as vacancies
    FROM
        tmp_vacancy_infos_cleaned
    GROUP BY 1
""").cache().createOrReplaceTempView("tmp_vacancy_infos_cleaned_grouped")

In [12]:
spark.sql(f"""
    SELECT
        *
    FROM
        tmp_vacancy_infos_cleaned_grouped
    ORDER BY vacancies desc
    limit 10
""").show()

+--------------------+---------+
|               token|vacancies|
+--------------------+---------+
|                   1|     1276|
|                   8|      695|
|                00pm|      647|
|           00am to 5|      619|
|primary skill  ot...|      547|
|outros detalhes d...|      515|
|                 etc|      509|
|               horas|      409|
|           desejável|      407|
|          atividades|      385|
+--------------------+---------+

# Análise dos dados reais das habilidads dos Candidatos

In [13]:
spark.read.jdbc(
    url="jdbc:mysql://decision:1234@localhost:3306/decision?charset=utf8",
    table="applicants",
    properties={"driver": "com.mysql.cj.jdbc.Driver"}
).createOrReplaceTempView("applicants")

In [ ]:
spark.sql(f"""
    SELECT
        a.id,
        normalize_and_tokenize_text(
            CONCAT(
                COALESCE(technical_knowledge, ''), '\n',
                COALESCE(cv_pt, '')
            )
        ) AS infos
    FROM
        applicants a
    GROUP BY 1,2
    
""").createOrReplaceTempView("tmp_applicant_infos")

In [15]:
spark.sql(f"""
    SELECT
        id,
        TRIM(SUBSTR(i, 0, 255)) as token
    FROM
        tmp_applicant_infos
        LATERAL VIEW explode(infos) AS i
    GROUP BY 1,2
    HAVING LENGTH(token) > 0 
    
""").cache().createOrReplaceTempView("tmp_applicant_infos_cleaned")

In [16]:
spark.sql(f"""SELECT id as applicant_id, token FROM tmp_applicant_infos_cleaned group by 1,2""").coalesce(1) \
    .write \
    .option("spark.speculation", False) \
    .jdbc( \
    url="jdbc:mysql://localhost:3306/decision", \
    table="applicants_tokens_tmp_2", \
    mode="overwrite", \
    properties={"driver":"com.mysql.jdbc.Driver", "user":"decision", "password":"1234"} \
    )

In [17]:
spark.sql(f"""
    SELECT
        token,
        count(distinct id) as applicants
    FROM
        tmp_applicant_infos_cleaned
    GROUP BY 1
""").cache().createOrReplaceTempView("tmp_applicant_infos_cleaned_grouped")

In [18]:
spark.sql(f"""
    SELECT
        *
    FROM
        tmp_applicant_infos_cleaned_grouped
    order by applicants desc
    limit 10
""").show()

+--------------------+----------+
|               token|applicants|
+--------------------+----------+
|experiência profi...|     12604|
|  formação acadêmica|     11816|
|             idiomas|      9556|
|            formação|      6713|
|            objetivo|      6371|
|              inglês|      5425|
|                  sp|      4774|
|           são paulo|      4549|
|         experiência|      4395|
|              brasil|      4384|
+--------------------+----------+

# Verifica a interseção dos requisitos de vagas e de candidatos

In [19]:
spark.sql(f"""
    SELECT
        *
    FROM
        (SELECT
            a.token as a_infos,
            v.token as v_infos,
            applicants,
            vacancies,
            ((vacancies + applicants) * ( abs(vacancies - applicants) / IF(vacancies > applicants, applicants, vacancies))) / (2.0 + ( abs(vacancies - applicants) * ( abs(vacancies - applicants) / IF(vacancies > applicants, applicants, vacancies)) ) )  as score
        FROM
            tmp_applicant_infos_cleaned_grouped a
            FULL OUTER JOIN tmp_vacancy_infos_cleaned_grouped v
                ON a.token = v.token
        WHERE
            a.token IS NOT NULL AND v.token IS NOT NULL
        ) AS t
    -- WHERE
        -- a_infos = 'python'
        -- score > 1.0
    ORDER BY score desc
""").show(100, False)

+-----------------------------------------+-----------------------------------------+----------+---------+------------------+
|a_infos                                  |v_infos                                  |applicants|vacancies|score             |
+-----------------------------------------+-----------------------------------------+----------+---------+------------------+
|8                                        |8                                        |625       |695      |15.02439024390244 |
|descrição                                |descrição                                |211       |237      |10.608378870673953|
|local                                    |local                                    |332       |321      |9.414154652686761 |
|soft skills                              |soft skills                              |104       |94       |6.875             |
|conhecimento técnico                     |conhecimento técnico                     |89        |112      |6.538896746817539 |
|requisitos                               |requisitos                               |317       |233      |6.141983515022599 |
|prazo                                    |prazo                                    |122       |163      |6.07012987012987  |
|inicio                                   |inicio                                   |123       |169      |5.6867061812023705|
|presencial                               |presencial                               |52        |65       |5.571428571428571 |
|localidade                               |localidade                               |83        |63       |5.551330798479088 |
|recebimento                              |recebimento                              |246       |172      |5.314776632302407 |
|engenharia de produção                   |engenharia de produção                   |64        |49       |5.247678018575851 |
|g                                        |g                                        |166       |116      |5.161054172767204 |
|design                                   |design                                   |344       |234      |5.058879694462126 |
|smartform                                |smartform                                |47        |38       |4.872611464968153 |
|início                                   |início                                   |343       |224      |4.618591279348347 |
|necessário                               |necessário                               |58        |41       |4.5363881401617245|
|github                                   |github                                   |37        |43       |4.363636363636364 |
|advanced english                         |advanced english                         |38        |31       |4.351351351351351 |
|- inglês avançado                        |- inglês avançado                        |29        |38       |4.338129496402877 |
|skill                                    |skill                                    |29        |39       |4.30379746835443  |
|location                                 |location                                 |37        |31       |4.163265306122449 |
|iniciante                                |iniciante                                |34        |51       |4.0476190476190474|
|1                                        |1                                        |2132      |1276     |3.967490289519209 |
|master                                   |master                                   |45        |30       |3.9473684210526314|
|requirements                             |requirements                             |32        |37       |3.8764044943820224|
|projetar                                 |projetar                                 |35        |55       |3.8297872340425534|
|sr                                       |sr                                       |99        |60       |3.7787934186471666|
|início imediato                          |início imediato                          |21        |28       |3.769230769230769 |
|se necessário                            |se necessário                            |28        |22       |3.7499999999999996|
|elaboração de especificação funcional    |elaboração de especificação funcional    |54        |50       |3.5862068965517246|
|certificação sap                         |certificação sap                         |21        |32       |3.5766871165644174|
|amazon s3                                |amazon s3                                |30        |20       |3.5714285714285716|
|valor                                    |valor                                    |24        |18       |3.5               |
|problem solving                          |problem solving                          |18        |24       |3.5               |
|build                                    |build                                    |36        |32       |3.4               |
|products                                 |products                                 |30        |19       |3.389937106918239 |
|bte                                      |bte                                      |34        |21       |3.388625592417062 |
|alocação                                 |alocação                                 |61        |35       |3.3458445040214473|
|unit testing                             |unit testing                             |24        |16       |3.3333333333333335|
|ciências econômicas                      |ciências econômicas                      |31        |54       |3.3079526226734344|
|qualifications                           |qualifications                           |56        |32       |3.3               |
|home office                              |home office                              |77        |43       |3.2850241545893724|
|contratação                              |contratação                              |126       |69       |3.281665190434012 |
|advanced                                 |advanced                                 |141       |263      |3.249901094553607 |
|developers                               |developers                               |18        |30       |3.2               |
|knowledge                                |knowledge                                |48        |27       |3.181818181818182 |
|fluent english                           |fluent english                           |26        |16       |3.1818181818181817|
|desenhar                                 |desenhar                                 |14        |21       |3.1818181818181817|
|incident management                      |incident management                      |22        |14       |3.1304347826086953|
|load balancer                            |load balancer                            |19        |14       |3.1132075471698117|
|avançadofluente                          |avançadofluente                          |20        |13       |3.08              |
|sap script                               |sap script                               |44        |24       |3.0357142857142856|
|trabalho remoto                          |trabalho remoto                          |16        |28       |3.0               |
|webex                                    |webex                                    |19        |12       |2.9726027397260273|
|5 years                                  |5 years                                  |12        |17       |2.9591836734693873|
|perfil técnico                           |perfil técnico                           |17        |11       |2.896551724137931 |
|debugging                                |debugging                                |16        |11       |2.872340425531915 |
|orientação para resultados               |orientação para resultados               |11        |16       |2.872340425531915 |
|test                                     |test                                     |38        |20       |2.8681318681318686|
|write                                    |write                                    |16        |12       |2.8               |
|habilidades de comunicação               |habilidades de comunicação               |12        |16       |2.8               |
|propor                                   |propor                                   |16        |12       |2.8               |
|o javascript                             |o javascript                             |19        |11       |2.7906976744186047|
|analyze                                  |analyze                                  |10        |15       |2.7777777777777777|
|circleci                                 |circleci                                 |15        |10       |2.7777777777777777|
|raciocínio lógico                        |raciocínio lógico                        |63        |31       |2.7697974217311234|
|teamwork                                 |teamwork                                 |33        |17       |2.758620689655172 |
|foco no cliente                          |foco no cliente                          |17        |10       |2.739130434782609 |
|inglês nível avançado                    |inglês nível avançado                    |15        |11       |2.736842105263158 |
|perfil comportamental                    |perfil comportamental                    |11        |15       |2.736842105263158 |
|level                                    |level                                    |15        |11       |2.736842105263158 |
|language                                 |language                                 |82        |39       |2.7000518941359624|
|03 meses                                 |03 meses                                 |14        |9        |2.674418604651163 |
|argentina                                |argentina                                |14        |9        |2.674418604651163 |
|bt                                       |bt                                       |14        |9        |2.674418604651163 |
|vila olímpia                             |vila olímpia                             |14        |9        |2.674418604651163 |
|loadrunner                               |loadrunner                               |14        |10       |2.666666666666667 |
|cisco ise                                |cisco ise                                |14        |10       |2.666666666666667 |
|sap co                                   |sap co                                   |14        |10       |2.666666666666667 |
|resolução de incidentes                  |resolução de incidentes                  |15        |9        |2.6666666666666665|
|conforme necessário                      |conforme necessário                      |15        |9        |2.6666666666666665|
|duration                                 |duration                                 |15        |9        |2.6666666666666665|
|remoto                                   |remoto                                   |163       |359      |2.640854886170048 |
|regression                               |regression                               |16        |9        |2.611940298507463 |
|experiência em levantamento de requisitos|experiência em levantamento de requisitos|16        |9        |2.611940298507463 |
|configurar                               |configurar                               |42        |20       |2.6030534351145036|
|academia sap abap                        |academia sap abap                        |26        |13       |2.6               |
|responsibilities                         |responsibilities                         |50        |110      |2.5945945945945947|
|- proatividade                           |- proatividade                           |13        |9        |2.5882352941176467|
|practices                                |practices                                |13        |9        |2.5882352941176467|
|ingles fluente                           |ingles fluente                           |10        |19       |2.5841584158415842|
|06 meses                                 |06 meses                                 |17        |20       |2.58139534883721  |
|others                                   |others                                   |31        |15       |2.5734265734265733|
|f5                                       |f5                                       |24        |12       |2.5714285714285716|
|firewall fortigate                       |firewall fortigate                       |13        |8        |2.5609756097560976|
|experiencia em                           |experiencia em                           |13        |8        |2.5609756097560976|
|ótima comunicação                        |ótima comunicação                        |13        |8        |2.5609756097560976|
|designers                                |designers                                |14        |8        |2.5384615384615383|
|- abap                                   |- abap                                   |14        |8        |2.5384615384615383|
+-----------------------------------------+-----------------------------------------+----------+---------+------------------+
only showing top 100 rows

# Analisa se os candidatos que foram contratados possuem os mesmos requisitos das vagas

In [27]:
spark.sql(f"""
    SELECT
        applicant_id,
        vacancy_id
        -- status
    FROM
        vacancies_applicants
    WHERE
        lower(status) like '%contratado%'
""").cache().createOrReplaceTempView("tmp_vacancy_applicants_hired")

In [23]:
spark.sql(f"""
    SELECT
        *
    FROM
        tmp_vacancy_applicants_hired 
    
""").show()

+------------+----------+
|applicant_id|vacancy_id|
+------------+----------+
|       12585|         2|
|       12651|        13|
|       12664|        13|
|       12671|        13|
|       12703|        13|
|       12721|        13|
|       12734|        13|
|       12745|        13|
|       12630|        14|
|       14193|        15|
|        8025|        15|
|        8471|        15|
|       12628|        16|
|       12629|        17|
|       12681|        20|
|       12665|        24|
|       12384|        28|
|       12895|        30|
|       12896|        30|
|       12667|        37|
+------------+----------+
only showing top 20 rows

In [28]:
spark.sql(f"""
    SELECT
        vh.applicant_id,
        vh.vacancy_id,
        COUNT(DISTINCT IF(a.infos = v.infos, a.infos, NULL)) as same_infos,
        COUNT(DISTINCT IF(a.infos = vv.infos, a.infos, NULL)) as same_infos_llm
        -- COLLECT_SET(IF(a.infos = v.infos, a.infos, NULL)) as a_infos,
        -- COLLECT_SET(IF(a.infos = vv.infos, a.infos, NULL)) as a_infos_llm
    FROM
        tmp_vacancy_applicants_hired vh
        LEFT JOIN tmp_applicant_infos_cleaned a
            ON a.id = vh.applicant_id
        LEFT JOIN tmp_vacancy_infos_cleaned v 
            ON v.id = vh.vacancy_id
        LEFT JOIN tmp_vacancy_infos_cleaned_llm vv 
            ON vv.id = vh.vacancy_id
            
    GROUP BY 1,2
    ORDER BY 3 desc
    
""").show(100, False)

+------------+----------+----------+--------------+
|applicant_id|vacancy_id|same_infos|same_infos_llm|
+------------+----------+----------+--------------+
|33862       |8573      |38        |0             |
|15385       |806       |16        |0             |
|15106       |710       |10        |0             |
|14135       |6933      |7         |0             |
|25636       |4546      |7         |0             |
|24281       |6901      |5         |6             |
|17996       |1635      |5         |0             |
|43265       |11828     |5         |0             |
|20100       |2596      |5         |0             |
|5167        |2745      |5         |0             |
|12563       |6901      |5         |6             |
|21488       |3083      |5         |0             |
|20382       |2748      |5         |0             |
|31557       |9387      |5         |0             |
|21467       |3195      |5         |7             |
|30623       |6901      |5         |5             |
|9758        |991       |4         |0             |
|31502       |7565      |4         |5             |
|23112       |3819      |4         |0             |
|18222       |10483     |4         |5             |
|18169       |1914      |4         |0             |
|558         |72        |4         |0             |
|30201       |6739      |3         |0             |
|19100       |3138      |3         |0             |
|43331       |11474     |3         |0             |
|17705       |1635      |3         |0             |
|41006       |10840     |3         |0             |
|16594       |6901      |3         |3             |
|21561       |3083      |3         |0             |
|33017       |8139      |3         |3             |
|19440       |8336      |3         |0             |
|15990       |621       |2         |0             |
|16203       |1849      |2         |0             |
|17799       |1664      |2         |0             |
|15355       |6106      |2         |1             |
|13894       |3987      |2         |0             |
|12221       |7517      |2         |0             |
|12684       |3254      |2         |2             |
|36279       |9276      |2         |0             |
|19814       |2511      |2         |0             |
|24557       |4198      |2         |0             |
|16696       |1127      |2         |0             |
|13339       |2082      |2         |0             |
|21738       |2981      |2         |0             |
|21232       |3515      |2         |2             |
|12847       |99        |2         |0             |
|18032       |2018      |2         |0             |
|31425       |7480      |2         |0             |
|13985       |6338      |2         |0             |
|20127       |2622      |2         |0             |
|38253       |10008     |2         |0             |
|39448       |10215     |2         |0             |
|34147       |13240     |2         |0             |
|25643       |4600      |2         |0             |
|14907       |621       |2         |0             |
|32350       |7856      |2         |0             |
|38287       |10007     |2         |0             |
|27188       |5600      |2         |0             |
|17197       |1524      |2         |0             |
|25264       |4546      |2         |0             |
|24933       |4412      |2         |0             |
|23455       |13724     |2         |0             |
|28939       |6132      |2         |2             |
|25836       |5616      |2         |0             |
|24138       |4198      |2         |0             |
|28431       |7605      |2         |0             |
|21513       |3083      |1         |0             |
|21046       |2925      |1         |0             |
|18123       |1783      |1         |0             |
|16566       |1128      |1         |0             |
|30777       |7249      |1         |0             |
|17128       |1419      |1         |0             |
|36598       |9375      |1         |0             |
|21220       |2884      |1         |0             |
|19082       |2305      |1         |0             |
|14507       |447       |1         |0             |
|23866       |4056      |1         |0             |
|1290        |2977      |1         |0             |
|25857       |4793      |1         |0             |
|16596       |1167      |1         |0             |
|26287       |4222      |1         |0             |
|36738       |9516      |1         |0             |
|37653       |9888      |1         |0             |
|25066       |9271      |1         |0             |
|36634       |12422     |1         |0             |
|388         |5280      |1         |0             |
|18424       |2746      |1         |0             |
|12665       |24        |1         |0             |
|23713       |4194      |1         |0             |
|41374       |10885     |1         |0             |
|30109       |6647      |1         |0             |
|15203       |744       |1         |0             |
|14966       |1004      |1         |0             |
|14597       |474       |1         |0             |
|21966       |3009      |1         |0             |
|16467       |7565      |1         |1             |
|29894       |7481      |1         |0             |
|33175       |8078      |1         |0             |
|14435       |327       |1         |0             |
|20165       |2695      |1         |0             |
+------------+----------+----------+--------------+
only showing top 100 rows

In [37]:
spark.sql(f"""
    SELECT
        vh.applicant_id,
        vh.vacancy_id,
        COUNT(DISTINCT IF(a.infos = trim(lower(vv.infos)), a.infos, NULL)) as same_infos_llm,
        -- COLLECT_SET(IF(a.infos = v.infos, a.infos, NULL)) as a_infos,
        COLLECT_SET(IF(a.infos = trim(lower(vv.infos)), a.infos, NULL)) as a_infos_llm
    FROM
        vacancies_applicants vh
        -- tmp_vacancy_applicants_hired vh
        LEFT JOIN tmp_applicant_infos_cleaned a 
            ON a.id = vh.vacancy_id
        LEFT JOIN tmp_vacancy_infos_cleaned_llm vv 
            ON vv.id = vh.vacancy_id
            
    GROUP BY 1,2
    ORDER BY 3 desc
    
""").show(100, False)

+------------+----------+--------------+-----------------------+
|applicant_id|vacancy_id|same_infos_llm|a_infos_llm            |
+------------+----------+--------------+-----------------------+
|18121       |6637      |1             |[banco de dados oracle]|
|16290       |5319      |1             |[javascript]           |
|18415       |10873     |1             |[angular]              |
|16726       |5319      |1             |[javascript]           |
|27836       |6637      |1             |[banco de dados oracle]|
|17352       |5319      |1             |[javascript]           |
|41149       |10873     |1             |[angular]              |
|17962       |5319      |1             |[javascript]           |
|29224       |6637      |1             |[banco de dados oracle]|
|23617       |5319      |1             |[javascript]           |
|41323       |10873     |1             |[angular]              |
|24621       |5319      |1             |[javascript]           |
|29651       |6637      |1             |[banco de dados oracle]|
|26711       |5319      |1             |[javascript]           |
|41409       |10873     |1             |[angular]              |
|27207       |5319      |1             |[javascript]           |
|29654       |6637      |1             |[banco de dados oracle]|
|27784       |5319      |1             |[javascript]           |
|41560       |10873     |1             |[angular]              |
|28470       |5319      |1             |[javascript]           |
|29660       |6637      |1             |[banco de dados oracle]|
|29663       |6637      |1             |[banco de dados oracle]|
|29689       |6637      |1             |[banco de dados oracle]|
|29728       |6637      |1             |[banco de dados oracle]|
|30659       |6637      |1             |[banco de dados oracle]|
|30661       |6637      |1             |[banco de dados oracle]|
|30662       |6637      |1             |[banco de dados oracle]|
|9068        |6637      |1             |[banco de dados oracle]|
|10214       |8577      |0             |[]                     |
|10214       |10467     |0             |[]                     |
|10607       |526       |0             |[]                     |
|10009       |1158      |0             |[]                     |
|10621       |1326      |0             |[]                     |
|106         |739       |0             |[]                     |
|11234       |526       |0             |[]                     |
|10078       |5491      |0             |[]                     |
|11361       |2800      |0             |[]                     |
|10902       |6537      |0             |[]                     |
|1176        |12084     |0             |[]                     |
|10162       |1105      |0             |[]                     |
|12012       |12275     |0             |[]                     |
|11046       |11200     |0             |[]                     |
|12450       |11536     |0             |[]                     |
|10463       |11875     |0             |[]                     |
|12725       |4912      |0             |[]                     |
|11516       |14034     |0             |[]                     |
|1274        |11019     |0             |[]                     |
|10768       |1105      |0             |[]                     |
|12881       |11019     |0             |[]                     |
|12042       |14034     |0             |[]                     |
|12901       |2804      |0             |[]                     |
|11319       |1268      |0             |[]                     |
|13541       |3376      |0             |[]                     |
|12174       |10467     |0             |[]                     |
|13602       |5932      |0             |[]                     |
|11361       |3002      |0             |[]                     |
|13635       |13270     |0             |[]                     |
|12665       |24        |0             |[]                     |
|14222       |6723      |0             |[]                     |
|104         |6882      |0             |[]                     |
|14780       |11613     |0             |[]                     |
|12666       |24        |0             |[]                     |
|14884       |1326      |0             |[]                     |
|11555       |9181      |0             |[]                     |
|15156       |5730      |0             |[]                     |
|12684       |11568     |0             |[]                     |
|15223       |13270     |0             |[]                     |
|11361       |11219     |0             |[]                     |
|15549       |11019     |0             |[]                     |
|12769       |1836      |0             |[]                     |
|15988       |11536     |0             |[]                     |
|12102       |12951     |0             |[]                     |
|16101       |12853     |0             |[]                     |
|12791       |4743      |0             |[]                     |
|16101       |13270     |0             |[]                     |
|10882       |6775      |0             |[]                     |
|16142       |2782      |0             |[]                     |
|13003       |12281     |0             |[]                     |
|16203       |2782      |0             |[]                     |
|12744       |11472     |0             |[]                     |
|16210       |11359     |0             |[]                     |
|13827       |10467     |0             |[]                     |
|16247       |2800      |0             |[]                     |
|1185        |2617      |0             |[]                     |
|16251       |13270     |0             |[]                     |
|13827       |12378     |0             |[]                     |
|16624       |2804      |0             |[]                     |
|12941       |9964      |0             |[]                     |
|16677       |12853     |0             |[]                     |
|14309       |340       |0             |[]                     |
|16724       |4765      |0             |[]                     |
|10115       |11406     |0             |[]                     |
|16847       |1326      |0             |[]                     |
|14310       |340       |0             |[]                     |
|16855       |2782      |0             |[]                     |
|13476       |9964      |0             |[]                     |
|16896       |1326      |0             |[]                     |
|14320       |340       |0             |[]                     |
|16927       |1326      |0             |[]                     |
|11908       |1268      |0             |[]                     |
+------------+----------+--------------+-----------------------+
only showing top 100 rows

In [ ]:
spark.sql(f"""
    SELECT
        vh.applicant_id,
        vh.vacancy_id,
        COUNT(DISTINCT IF(a.infos = v.infos, a.infos, NULL)) as same_infos
    FROM
        tmp_vacancy_applicants_hired vh
        LEFT JOIN tmp_applicant_infos_cleaned a
            ON a.id = vh.applicant_id
        LEFT JOIN tmp_vacancy_infos_cleaned v 
            ON v.id = vh.vacancy_id
            
    GROUP BY 1,2
    ORDER BY 3 desc
    
""").show(100, False)

# Melhores candidatos

In [46]:
spark.sql(f"""
    SELECT
        a.id as applicant_id,
        v.id as vacancy_id,
        ARRAY_SIZE(COLLECT_SET(a.infos)) as applicant_infos,
        ARRAY_SIZE(COLLECT_SET(v.infos)) as vacancy_infos,
        COUNT(DISTINCT IF(a.infos = v.infos, a.infos, NULL)) as same_infos
    FROM
        tmp_vacancy_infos_cleaned v
        LEFT JOIN vacancies_applicants va
            ON v.id = va.vacancy_id 
        LEFT JOIN tmp_applicant_infos_cleaned a
            ON a.id = va.applicant_id
    WHERE
        v.id = 10482
        -- and LENGTH(v.infos) < 80
    GROUP BY 1,2
    ORDER BY 3 desc
    
""").show(100, False)

+------------+----------+---------------+-------------+----------+
|applicant_id|vacancy_id|applicant_infos|vacancy_infos|same_infos|
+------------+----------+---------------+-------------+----------+
|40041       |10482     |175            |4            |0         |
|40046       |10482     |141            |4            |0         |
|40606       |10482     |88             |4            |0         |
|40081       |10482     |88             |4            |0         |
|40113       |10482     |84             |4            |0         |
|40629       |10482     |75             |4            |0         |
|40034       |10482     |67             |4            |0         |
|40026       |10482     |61             |4            |0         |
|40061       |10482     |50             |4            |0         |
|40638       |10482     |48             |4            |0         |
|40610       |10482     |46             |4            |0         |
|40630       |10482     |38             |4            |0         |
|40043       |10482     |36             |4            |0         |
|40126       |10482     |31             |4            |0         |
|40622       |10482     |29             |4            |0         |
|40631       |10482     |29             |4            |0         |
|40025       |10482     |24             |4            |0         |
|40051       |10482     |20             |4            |0         |
|40039       |10482     |19             |4            |0         |
|40279       |10482     |18             |4            |0         |
|40050       |10482     |18             |4            |0         |
|40035       |10482     |16             |4            |0         |
|40032       |10482     |16             |4            |0         |
|40306       |10482     |1              |4            |0         |
|40305       |10482     |1              |4            |0         |
+------------+----------+---------------+-------------+----------+

In [49]:
spark.sql(f"""
    SELECT
        id,
        ARRAY_SIZE(SPLIT(infos, '\n')) as infos
    FROM
        tmp_vacancy_infos_cleaned v
    WHERE
        v.id = 10482
    
""").show()

+-----+-----+
|   id|infos|
+-----+-----+
|10482|    1|
|10482|    1|
|10482|    1|
|10482|    1|
+-----+-----+

# Procura dados pessoais nos dados de Curriculo

In [44]:
spark.sql(f"""
    SELECT
        id,
        name,
        email,
        regexp_extract(cv_pt, '([\.\_a-z0-9]+@[a-z0-9]+\.[a-z0-9]+)') as cv_pt_email
    FROM
        applicants
    WHERE
        -- regexp_like(cv_pt, '[a-z0-9]+@[a-z0-9]\.[a-z0-9]+')
        lower(cv_pt) like '%@gmail.com%'

""").show(100, False)

+-----+-------------------------------+-----------------------------------------+--------------------------------------+
|id   |name                           |email                                    |cv_pt_email                           |
+-----+-------------------------------+-----------------------------------------+--------------------------------------+
|426  |Fernanda Brito                 |fernanda_brito@gmail.com                 |smpas8@hotmail.com                    |
|871  |Dra. Isabel Cassiano           |dra._isabel_cassiano@hotmail.com         |robson.barata@gmail.com               |
|1139 |Dra. Ana Júlia da Cunha        |dra._ana_júlia_da_cunha@gmail.com        |rogerio.vieira.mota@gmail.com         |
|1446 |Melina da Conceição            |melina_da_conceição@hotmail.com          |robertopmendes@gmail.com              |
|1561 |Cauã Peixoto                   |cauã_peixoto@hotmail.com                 |videira.will@gmail.com                |
|1870 |Arthur Miguel da Conceição     |arthur_miguel_da_conceição@hotmail.com   |alexandrogcampos@gmail.com            |
|1974 |Srta. Allana Pereira           |srta._allana_pereira@hotmail.com         |guimar.salviano@gmail.com             |
|2625 |Sr. Léo Sá                     |sr._léo_sá@gmail.com                     |lilianclaudia.ramos@gmail.com         |
|3483 |Alícia Peixoto                 |alícia_peixoto@hotmail.com               |heidefs14@gmail.com                   |
|3796 |Ana Carolina Melo              |ana_carolina_melo@hotmail.com            |adalbertonog21@gmail.com              |
|4363 |Sra. Julia Mendonça            |sra._julia_mendonça@hotmail.com          |daridados@gmail.com                   |
|4479 |Mariane da Mota                |mariane_da_mota@gmail.com                |jfsihenson@gmail.com                  |
|5073 |Sr. Anthony Gabriel das Neves  |sr._anthony_gabriel_das_neves@hotmail.com|ps.marcus@gmail.com                   |
|5832 |Dra. Alana Ribeiro             |dra._alana_ribeiro@hotmail.com           |eduardo.nagamine@gmail.com            |
|6352 |Guilherme Rodrigues            |guilherme_rodrigues@hotmail.com          |edsonjunior.al@gmail.com              |
|6441 |Davi Luiz Duarte               |davi_luiz_duarte@hotmail.com             |nbuono@gmail.com                      |
|6449 |Sra. Nicole Nunes              |sra._nicole_nunes@gmail.com              |pedro.miguel.pereira2@gmail.com       |
|6501 |Sra. Caroline Rodrigues        |sra._caroline_rodrigues@gmail.com        |dbaoracle73@gmail.com                 |
|6655 |Dr. João Guilherme da Conceição|dr._joão_guilherme_da_conceição@gmail.com|hugo.cavalheiro@gmail.com             |
|6888 |Nina Correia                   |nina_correia@hotmail.com                 |ph.brito36@gmail.com                  |
|8342 |Sr. Davi Luiz da Costa         |sr._davi_luiz_da_costa@hotmail.com       |baggioti02@gmail.com                  |
|8456 |Diogo Nascimento               |diogo_nascimento@hotmail.com             |avila.sidnei@gmail.com                |
|9202 |Carolina Carvalho              |carolina_carvalho@gmail.com              |cesardeandrade1969@gmail.com          |
|9213 |Beatriz da Rocha               |beatriz_da_rocha@hotmail.com             |diogenes.oliv@gmail.com               |
|9295 |José Pedro Correia             |josé_pedro_correia@hotmail.com           |gelciopbatista@gmail.com              |
|10191|Pedro Miguel Vargas            |pedro_miguel_vargas@hotmail.com          |ibeletarrio@gmail.com                 |
|10983|João Aparecida                 |joão_aparecida@gmail.com                 |mlattuga@gmail.com                    |
|11524|Maitê Novaes                   |maitê_novaes@gmail.com                   |adrianopmelo@gmail.com                |
|11672|Mirella Sales                  |mirella_sales@gmail.com                  |vilelasassessoriaempresarial@gmail.com|
|11703|Gustavo Henrique Moura         |gustavo_henrique_moura@hotmail.com       |carlosjomarsoares@gmail.com           |
|11789|Sr. Theo da Mata               |sr._theo_da_mata@gmail.com               |nelson.cruz.jr@gmail.com              |
|11937|Carlos Eduardo Nogueira        |carlos_eduardo_nogueira@hotmail.com      |profigustavo1@gmail.com               |
|12350|Srta. Maria Julia Siqueira     |srta._maria_julia_siqueira@hotmail.com   |lbonganhavieira@gmail.com             |
|12606|Sra. Sara Cirino               |sra._sara_cirino@gmail.com               |leandro.a.s@gmail.com                 |
|12659|Luiz Gustavo Sá                |luiz_gustavo_sá@hotmail.com              |gast.paula@gmail.com                  |
|12777|Sr. Davi Lucca Moraes          |sr._davi_lucca_moraes@hotmail.com        |andre.luiz.alvarez@gmail.com          |
|12835|Dr. Bruno Sá                   |dr._bruno_sá@gmail.com                   |peter.gruszecki@gmail.com             |
|12865|Arthur Miguel Costela          |arthur_miguel_costela@gmail.com          |msantos70@gmail.com                   |
|12899|Dr. Gustavo Henrique da Rocha  |dr._gustavo_henrique_da_rocha@hotmail.com|dervitti@gmail.com                    |
|12916|Sr. Arthur Teixeira            |sr._arthur_teixeira@hotmail.com          |pcoelho4@gmail.com                    |
|12974|Joana Gomes                    |joana_gomes@hotmail.com                  |heldinhogol@gmail.com                 |
|13360|Dr. Matteo Novais              |dr._matteo_novais@gmail.com              |paulomassuia@gmail.com                |
|13577|Lívia Fernandes                |lívia_fernandes@gmail.com                |clodoaldosapmm@gmail.com              |
|13600|Vinicius Barros                |vinicius_barros@gmail.com                |silva.marcelohenrique@gmail.com       |
|13929|Cauã da Paz                    |cauã_da_paz@hotmail.com                  |brunombp_@hotmail.com                 |
|13955|Olívia Peixoto                 |olívia_peixoto@gmail.com                 |rodiaspinto@gmail.com                 |
|13979|Srta. Lunna da Paz             |srta._lunna_da_paz@gmail.com             |rodrigopcs70@gmail.com                |
|13982|Dr. Leandro Fernandes          |dr._leandro_fernandes@gmail.com          |jfs0087@gmail.com                     |
|13990|Maria Fernanda das Neves       |maria_fernanda_das_neves@hotmail.com     |williamandradasilva@gmail.com         |
|13991|Isabelly Peixoto               |isabelly_peixoto@gmail.com               |jennifertelles94@gmail.com            |
|14073|Sofia da Luz                   |sofia_da_luz@gmail.com                   |pkcolucci2503@gmail.com               |
|14100|Dra. Isadora Vasconcelos       |dra._isadora_vasconcelos@gmail.com       |ingridyoliria@gmail.com               |
|14152|Srta. Isis Azevedo             |srta._isis_azevedo@gmail.com             |                                      |
|14186|Maria Cecília Vargas           |maria_cecília_vargas@hotmail.com         |marcelomvj@gmail.com                  |
|14223|Rodrigo Ramos                  |rodrigo_ramos@gmail.com                  |leandro_renne@yahoo.com               |
|14324|Manuella Moreira               |manuella_moreira@hotmail.com             |julianalourencodasilva1@gmail.com     |
|14334|Srta. Ana Laura Rezende        |srta._ana_laura_rezende@gmail.com        |mauricioaraujodelrei@gmail.com        |
|14371|Sr. Gael Aragão                |sr._gael_aragão@hotmail.com              |juroqueanjos@gmail.com                |
|14467|Francisco Ribeiro              |francisco_ribeiro@gmail.com              |rodrigo.franzoni1987@gmail.com        |
|14480|Srta. Alice Rios               |srta._alice_rios@hotmail.com             |cbarboza0402@gmail.com                |
|14513|Ana Liz Martins                |ana_liz_martins@hotmail.com              |lcf93.vieira@gmail.com                |
|14519|Ísis Santos                    |ísis_santos@gmail.com                    |leorodriguesguratti@gmail.com         |
|14564|Srta. Camila Fogaça            |srta._camila_fogaça@hotmail.com          |gildeon.muniz@gmail.com               |
|14606|Cecilia Vieira                 |cecilia_vieira@gmail.com                 |jeniffercarolline11@gmail.com         |
|14714|Camila Costa                   |camila_costa@gmail.com                   |viviane.deoliveira@gmail.com          |
|14765|Srta. Camila Cardoso           |srta._camila_cardoso@gmail.com           |bvitoria49@gmail.com                  |
|14776|Luna Mendes                    |luna_mendes@gmail.com                    |alexandrinofcruz@gmail.com            |
|14897|Sr. Pedro Henrique Correia     |sr._pedro_henrique_correia@hotmail.com   |email.diegovieira@gmail.com           |
|14940|Dr. Luiz Henrique da Mota      |dr._luiz_henrique_da_mota@hotmail.com    |gielias.12@gmail.com                  |
|15038|Lucas da Mota                  |lucas_da_mota@gmail.com                  |julio.brandao@essenceit.com           |
|15100|Sr. Kaique Campos              |sr._kaique_campos@gmail.com              |san.messias@gmail.com                 |
|15187|Srta. Maria Luiza Melo         |srta._maria_luiza_melo@gmail.com         |celina.taguchi@gmail.com              |
|15237|Eduarda Câmara                 |eduarda_câmara@hotmail.com               |gabrielle.thainasantos@gmail.com      |
|15271|Lorena da Cunha                |lorena_da_cunha@hotmail.com              |afreire29@gmail.com                   |
|15351|Sra. Luiza Pastor              |sra._luiza_pastor@gmail.com              |fredlimab@gmail.com                   |
|15362|Sra. Rebeca Aparecida          |sra._rebeca_aparecida@hotmail.com        |miltonik@uol.com                      |
|15401|Marcos Vinicius da Costa       |marcos_vinicius_da_costa@hotmail.com     |eduardo.araujo88@gmail.com            |
|15419|Gustavo Teixeira               |gustavo_teixeira@gmail.com               |rdgs.thais@gmail.com                  |
|15441|Joana Pastor                   |joana_pastor@hotmail.com                 |vitoria15berni@gmail.com              |
|15532|Srta. Maria Alice Correia      |srta._maria_alice_correia@gmail.com      |marcosh@br.ibm                        |
|15539|Anthony Gabriel Nunes          |anthony_gabriel_nunes@hotmail.com        |agomes.anderson@gmail.com             |
|15965|Srta. Maria Julia Teixeira     |srta._maria_julia_teixeira@hotmail.com   |leandro.daniel.pacheco@gmail.com      |
|16047|Maria Clara Souza              |maria_clara_souza@gmail.com              |glcorreia007@gmail.com                |
|16105|Hellena Nascimento             |hellena_nascimento@hotmail.com           |mauricio.andrade@resource.com         |
|16326|Dante Guerra                   |dante_guerra@gmail.com                   |alfonzo.jimenez@mqaamericas.com       |
|16376|Isadora Cavalcante             |isadora_cavalcante@gmail.com             |anisio.mobile@gmail.com               |
|16414|Lucca Barros                   |lucca_barros@hotmail.com                 |jefersonsantos551@gmail.com           |
|16431|Danilo Machado                 |danilo_machado@gmail.com                 |bsalvesdev@gmail.com                  |
|16445|Maysa Fonseca                  |maysa_fonseca@hotmail.com                |nettomando72@gmail.com                |
|16484|Cecilia Pires                  |cecilia_pires@hotmail.com                |afonso.jal.moreira@gmail.com          |
|16534|Anthony da Rosa                |anthony_da_rosa@gmail.com                |marcos.j.suzuki@gmail.com             |
|16575|Davi Miguel Rios               |davi_miguel_rios@gmail.com               |yk1239@gmail.com                      |
|16578|Sr. Rodrigo Monteiro           |sr._rodrigo_monteiro@hotmail.com         |amandabm0204@gmail.com                |
|16587|Juliana Pacheco                |juliana_pacheco@gmail.com                |ddsg.2800@gmail.com                   |
|16643|Dra. Ana Luiza Pastor          |dra._ana_luiza_pastor@gmail.com          |                                      |
|16658|Dante Mendes                   |dante_mendes@gmail.com                   |erasmosantos@gmail.com                |
|16741|Dra. Joana Oliveira            |dra._joana_oliveira@gmail.com            |nataliamuranaka@gmail.com             |
|16796|Ravi Cavalcante                |ravi_cavalcante@gmail.com                |fabiorony2015@gmail.com               |
|16864|Yan Fernandes                  |yan_fernandes@hotmail.com                |jsampa15@gmail.com                    |
|16886|Ana Cecília Marques            |ana_cecília_marques@hotmail.com          |ribeiroevandro.developer@gmail.com    |
+-----+-------------------------------+-----------------------------------------+--------------------------------------+
only showing top 100 rows

In [45]:
spark.sql(f"""
    select count(1) as total from
    (SELECT
        id,
        name,
        email,
        regexp_extract(cv_pt, '([\.\_a-z0-9]+@[a-z0-9]+\.[a-z0-9]+)') as cv_pt_email
    FROM
        applicants
    WHERE
        -- regexp_like(cv_pt, '[a-z0-9]+@[a-z0-9]\.[a-z0-9]+')
        lower(cv_pt) like '%@gmail.com%'
    ) as t
    
    where email <> cv_pt_email
""").show(100, False)

+-----+
|total|
+-----+
|615  |
+-----+

# Visualização dos dados de vaga e candidato para conferência

In [32]:
spark.sql(f"""
    SELECT
        va.vacancy_id,
        a.id as a_id,
        a.infos,
        v.infos
    FROM
        vacancies_applicants va
        LEFT JOIN  tmp_applicant_infos_cleaned  a
            ON va.applicant_id = a.id
        LEFT JOIN tmp_vacancy_infos_cleaned v
            ON va.vacancy_id = v.id
        LEFT JOIN tmp_vacancy_infos_cleaned_llm vl     
            ON va.vacancy_id = vl.id
    WHERE
        -- LENGth(vl.infos) < 150
        LENGth(v.infos) < 150
""").show(10, False)

+----------+-----+-----+---------------------------------------------------------------------------+
|vacancy_id|a_id |infos|infos                                                                      |
+----------+-----+-----+---------------------------------------------------------------------------+
|474       |14596|     |a versão java  6 com algumas tecnologias como toplink                      |
|474       |14596|     |hibernate                                                                  |
|474       |14596|     |swing com banco db2a ideia é trabalhar em time que utiliza metodologia ágil|
|474       |14596|     |hibernate                                                                  |
|474       |14596|     |swing com banco db2a ideia é trabalhar em time que utiliza metodologia ágil|
|474       |14596|     |com manutenção evolutiva e atendimento de incidentes em produção           |
|474       |14596|     |a versão java  6 com algumas tecnologias como toplink                      |
|474       |14596|     |hibernate                                                                  |
|474       |14596|     |swing com banco db2a ideia é trabalhar em time que utiliza metodologia ágil|
|474       |14596|     |hibernate                                                                  |
+----------+-----+-----+---------------------------------------------------------------------------+
only showing top 10 rows