In [ ]:
from pyspark import SparkConf
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
import pandas as pd
import data_transform_utilities.flatten as flatten
from data_transform_utilities.text_parsers import  clean_str, extract_json
import matplotlib.pyplot as plt

import re
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

import pysolr
from sqlalchemy import create_engine
import json
import requests

# Cria a sessão do Spark (Nesessário JVM e a variável de ambiente JAVA_HOME definida)

In [ ]:
spark_conf = SparkConf()
spark_conf.set("spark.cores", "8")
spark_conf.set("spark.driver.cores", "8")
spark_conf.set("spark.jars.packages", "com.mysql:mysql-connector-j:9.2.0")

spark = SparkSession \
    .builder.master("local") \
    .appName("Decision data overview") \
    .config(conf=spark_conf) \
    .enableHiveSupport() \
    .getOrCreate()

# Registra as UDFs

In [ ]:
spark.udf.register("clean_str", clean_str)

# Cria engine para conexão com o MySQL

In [ ]:
engine = create_engine("mysql+pymysql://decision:1234@localhost/decision?charset=utf8")

# Lê os dados crú do disco

In [ ]:
def read_raw_data(dataset_name: str):
    dataset = pd.read_json(f'../datasets/{dataset_name}.json', orient='index', typ='frame', encoding='UTF-8')
    dataset['id'] = dataset.index
    return dataset

In [ ]:
vacancy = read_raw_data("vagas")
applicants = read_raw_data("applicants")
prospects = read_raw_data("prospects")

In [ ]:
vacancy = flatten(vacancy)
applicants = flatten(applicants)
prospects = prospects.explode("prospects")
prospects = flatten(prospects).drop(columns="prospects")

In [ ]:
vacancy.replace(r'^\s*$', None, regex=True, inplace=True)
applicants.replace(r'^\s*$', None, regex=True, inplace=True)
prospects.replace(r'^\s*$', None, regex=True, inplace=True)

In [ ]:
vacancy.to_parquet(f'../datasets/parquet/vacancy.parquet')
applicants.to_parquet(f'../datasets/parquet/applicants.parquet')
prospects.to_parquet(f'../datasets/parquet/prospects.parquet')

In [ ]:
spark.read.parquet(f'../datasets/parquet/vacancy.parquet').createOrReplaceTempView("vacancy")
spark.read.parquet(f'../datasets/parquet/applicants.parquet').createOrReplaceTempView("applicants")
spark.read.parquet(f'../datasets/parquet/prospects.parquet').createOrReplaceTempView("prospects")

# Schemas

In [ ]:
spark.sql(f"select * from vacancy").printSchema()

In [ ]:
spark.sql(f"select * from prospects").printSchema()

In [ ]:
spark.sql(f"select * from applicants").printSchema()

# Análise dos dados disponíveis

In [ ]:
spark.sql(f"select count(distinct id) as total, count(1) as lines from prospects").show(10, False)

In [ ]:
spark.sql(f"select count(distinct id) as total, count(1) as lines from applicants").show(10, False)

In [ ]:
spark.sql(f"select count(distinct id) as total, count(1) as lines from vacancy").show(10, False)

In [ ]:
spark.sql(f"""
    SELECT
        count(distinct id) AS total_vacancy,
        avg(prospects) AS avg_prospects,
        min(prospects) AS min_prospects,
        max(prospects) AS max_prospects,
        count(if(prospects = 0, 1, null)) AS total_vacancy_without_prospects
    FROM
        (SELECT 
            id,
            count(prospects_nome) AS prospects
        FROM prospects
        GROUP BY 1
        ) AS t
""").show(10, False)

In [ ]:
# spark.sql(f"""
#     SELECT
#         v.id,
#         v.informacoes_basicas_titulo_vaga,
#         v.informacoes_basicas_tipo_contratacao,
#         p.prospects_codigo,
#         p.prospects_nome,
#         p.prospects_situacao_candidado,
#         a.infos_basicas_codigo_profissional,
#         a.informacoes_pessoais_data_nascimento,
#         a.informacoes_profissionais_titulo_profissional
#         
#         -- a.infos_basicas_nome
#     FROM
#         prospects p
#         LEFT JOIN vacancy v ON v.id = p.id
#         LEFT JOIN applicants a ON a.id = p.prospects_codigo
#     WHERE
#         v.id = 10975
#         -- AND prospects_codigo = 41496
# """).show(10, False)

In [ ]:
#spark.sql(f"""
#    SELECT
#    *
#    FROM
#        prospects
#    WHERE
#        prospects_codigo = 41485
#""").show(10, False)

In [ ]:
# spark.sql(f"""
#     SELECT
#         v.id as v_id,
#         p.id as p_id,
#         a.id as a_id,
#         p.prospects_codigo,
#         v.informacoes_basicas_titulo_vaga,
#         p.prospects_nome,
#         a.infos_basicas_nome,
#         prospects_situacao_candidado
#     FROM
#         prospects p
#         LEFT JOIN vacancy v ON v.id = p.id
#         LEFT JOIN applicants a ON a.id = p.prospects_codigo
#     WHERE
#         -- v.id = 10976
#         -- AND prospects_codigo = 41496
#         -- AND 
#         -- a.id = 41496
#         LOWER(p.prospects_situacao_candidado) like '%contratado%'
# """).show(100,False)

In [ ]:
# spark.sql(f"""
#     SELECT
#         v.id as v_id,
#         p.id as p_id,
#         a.id as a_id,
#         p.prospects_codigo,
#         v.informacoes_basicas_titulo_vaga,
#         p.prospects_nome,
#         a.infos_basicas_nome
#     FROM
#         prospects p
#         LEFT JOIN vacancy v ON v.id = p.id
#         LEFT JOIN applicants a ON a.id = p.prospects_codigo
#     WHERE
#         -- v.id = 10975
#         -- AND prospects_codigo = 41496
#         -- AND 
#         a.id = 41496
# """).drop("id").show(10,False)

# Verificação de relação entre as tabelas
Estou assumindo que a tabela porspects é uma tabela de JOIN NxN entre as tabelas vacancy e applicants onde temos N vagas para N candidatos.
Nessa situação não deveríamos ter prospects com ID de vaga que não existe na tabela de vagas e nem ID de candidado que não exista na tabela de candidatos.

In [ ]:
spark.sql(f"""
    SELECT
        count(1) as lines,
        count(distinct p.id) as distinct_prospects,
        count(distinct v.id) distinct_vacancies,
        count(distinct a.id) as distinct_applicants,
        count(distinct p.prospects_codigo) as distinct_prospects_codes,
        count(if(a.id is null, 1, null)) as prospects_without_applicants,
        count(if(v.id is null, 1, null)) as prospects_without_vacancies
    FROM
        prospects p
        LEFT JOIN vacancy v ON v.id = p.id
        LEFT JOIN applicants a ON a.id = p.prospects_codigo
""").show(100,False)

## Acima percebemos que há inconsistência nas relações das tabelas. Existem prospects que apontam para vagas que não existem e prospects que apontam para candidatos que não existem.
## E abaixo vemos que náo há duplicidades nos prospects, ou seja, não temos um candidato associado mais de uma vez a uma vaga.

In [ ]:
spark.sql(f"""
    SELECT
        prospect_id,
        count(1) as total
    FROM
        (SELECT
            a.id || '_' || v.id as prospect_id
        FROM
            prospects p
            LEFT JOIN vacancy v ON v.id = p.id
            LEFT JOIN applicants a ON a.id = p.prospects_codigo
        WHERE
            v.id IS NOT NULL AND a.id IS NOT NULL
        ) as t
    GROUP BY 1
    HAVING total > 1
    ORDER by total desc
        
""").show(100,False)

# Qual a média de vagas associadas a um candidatos?

In [ ]:
spark.sql(f"""
    SELECT
        count(distinct applicant_id) applicatns,
        avg(vacancies) as avg_vacancies,
        min(vacancies) as min_vacancies,
        max(vacancies) as max_vacancies,
        count(1) as lines
    FROM
        (SELECT
            a.id as applicant_id,
            count(distinct v.id) as vacancies,
            count(1) as lines
        FROM
            prospects p
            LEFT JOIN vacancy v ON v.id = p.id
            LEFT JOIN applicants a ON a.id = p.prospects_codigo
        WHERE
            v.id IS NOT NULL AND a.id IS NOT NULL
        GROUP BY 1
        ) as t
        
""").show(100,False)

# Qual a distribuição por faixas de quantidade de candidatura de candidatos? Quantos candidatos estão em apenas 1 vaga ou em 2 e assim por diante.

In [ ]:
spark.sql(f"""
    SELECT
        *,
        applicatns * 100 / agg_total as percent
    FROM
        (SELECT
            CASE 
                WHEN vacancies <= 2  THEN 2
                WHEN vacancies <= 5  THEN 5
                WHEN vacancies <= 10  THEN 10
                WHEN vacancies <= 20  THEN 20
                WHEN vacancies <= 30  THEN 30
                WHEN vacancies <= 50  THEN 50
                WHEN vacancies <= 80  THEN 80
                ELSE 81
            END as range,
            count(distinct applicant_id) applicatns,
            SUM(count(1)) OVER () as agg_total
        FROM
            (SELECT
                a.id as applicant_id,
                count(distinct v.id) as vacancies,
                count(1) as lines
            FROM
                prospects p
                LEFT JOIN vacancy v ON v.id = p.id
                LEFT JOIN applicants a ON a.id = p.prospects_codigo
            WHERE
                v.id IS NOT NULL AND a.id IS NOT NULL -- Linpa a base para não contar os prospectos que não tem vaga ou candidato
            GROUP BY 1
            ) as t
        GROUP BY 1
        ORDER BY 1
        ) as t   
""").show(100,False)

# Feature Engineering

In [ ]:
spark.sql(f"""
    SELECT
        *
    FROM
        prospects p
        LEFT JOIN vacancy v ON v.id = p.id
        LEFT JOIN applicants a ON a.id = p.prospects_codigo
    WHERE
        v.id IS NOT NULL AND a.id IS NOT NULL
""").drop("id").createOrReplaceTempView("tmp_clean_data")

In [ ]:
spark.sql("select * from tmp_clean_data").printSchema()

In [ ]:
spark.sql("""
    select 
        perfil_vaga_competencia_tecnicas_e_comportamentais,
        perfil_vaga_habilidades_comportamentais_necessarias
    from tmp_clean_data
    limit 1
""").show(10, False)

# Carrega dados de Vagas para a base relacional

In [ ]:
spark.sql(f"""
    select
        TO_DATE(informacoes_basicas_data_requicisao, 'dd-MM-yyyy') AS requested_date,
        TO_DATE(informacoes_basicas_limite_esperado_para_contratacao, 'dd-MM-yyyy' ) AS expected_hiring_date,
        informacoes_basicas_titulo_vaga AS title,
        CLEAN_STR(informacoes_basicas_titulo_vaga) AS normalized_title,
        CASE 
            WHEN LOWER(TRIM(informacoes_basicas_vaga_sap)) = 'não' THEN false
            WHEN LOWER(TRIM(informacoes_basicas_vaga_sap)) = 'sim' THEN true
        ELSE NULL 
        END AS sap_job,
        
        informacoes_basicas_cliente AS client,
        informacoes_basicas_solicitante_cliente AS client_requester,
        informacoes_basicas_empresa_divisao AS department,
        informacoes_basicas_requisitante AS requester,
        
        informacoes_basicas_analista_responsavel AS responsible_analyst,
        -- SPLIT(informacoes_basicas_tipo_contratacao, ',') AS hiring_type,
        informacoes_basicas_tipo_contratacao AS hiring_type,
        informacoes_basicas_prazo_contratacao AS hiring_deadline,
        informacoes_basicas_objetivo_vaga AS objective,
        TRIM(SPLIT_PART(informacoes_basicas_prioridade_vaga, ':', 1)) AS priority,
        informacoes_basicas_origem_vaga AS reason,
        informacoes_basicas_superior_imediato AS manager,
        informacoes_basicas_nome AS name,
        informacoes_basicas_telefone AS phone_number,
        perfil_vaga_pais AS country,
        perfil_vaga_estado AS state,
        perfil_vaga_cidade AS city,
        perfil_vaga_bairro AS neighborhood,
        perfil_vaga_regiao AS region,
        perfil_vaga_local_trabalho AS workplace,
        CASE 
            WHEN LOWER(TRIM(perfil_vaga_vaga_especifica_para_pcd)) = 'não' THEN false 
            WHEN LOWER(TRIM(perfil_vaga_vaga_especifica_para_pcd)) = 'sim' THEN true
            ELSE NULL
        END AS only_pwd,
        perfil_vaga_faixa_etaria AS age_range,
        perfil_vaga_horario_trabalho AS work_schedule,
        `perfil_vaga_nivel profissional` AS professional_level,
        perfil_vaga_nivel_academico AS academic_level,
        perfil_vaga_nivel_ingles AS english_level,
        perfil_vaga_nivel_espanhol AS spanish_level,
        perfil_vaga_outro_idioma AS other_language,
        -- ARRAY_DISTINCT(
        --     FILTER(
        --         TRANSFORM(
        --             SPLIT(perfil_vaga_areas_atuacao, '-'), x -> TRIM(x)
        --         ), 
        --         x -> LENGTH(x) > 0 
        --     )
        -- ) AS areas_of_expertise,
        
        ARRAY_JOIN(ARRAY_DISTINCT(
            FILTER(
                TRANSFORM(
                    SPLIT(perfil_vaga_areas_atuacao, '-'), x -> TRIM(x)
                ), 
                x -> LENGTH(x) > 0 
            )
        ), ',') AS areas_of_expertise,
        
        perfil_vaga_principais_atividades AS main_activities,
        perfil_vaga_competencia_tecnicas_e_comportamentais AS technical_and_behavioral_skills,
        perfil_vaga_demais_observacoes AS other_observations,
        CASE 
            WHEN LOWER(TRIM(perfil_vaga_viagens_requeridas)) = 'não' THEN false
            WHEN LOWER(TRIM(perfil_vaga_viagens_requeridas)) = 'sim' THEN true
        ELSE null
        END AS required_travels,
        perfil_vaga_equipamentos_necessarios AS required_equipment,
        beneficios_valor_venda AS selling_value,
        beneficios_valor_compra_1 AS purchase_value_1,
        beneficios_valor_compra_2 AS purchase_value_2,
        id,
        TO_DATE(informacoes_basicas_data_inicial, 'dd-MM-yyyy') AS start_date,
        TO_DATE(informacoes_basicas_data_final, 'dd-MM-yyyy') AS end_date,
        perfil_vaga_habilidades_comportamentais_necessarias AS behavioral_skills,
        informacoes_basicas_nome_substituto AS substitute_name
    from vacancy
    -- ORDER BY id desc
""").createOrReplaceTempView("tmp_transformed_vacancy")

In [ ]:
spark.sql(f"""SELECT * FROM tmp_transformed_vacancy""").write.jdbc( \
    url="jdbc:mysql://localhost:3306/decision", \
    table="vacancies", \
    mode="append", \
    properties={"driver":"com.mysql.jdbc.Driver", "user":"decision", "password":"1234"} \
    )

# Carrega dados de candidadtos para a base Relacional

In [ ]:
spark.sql(f"""
    select
        id,
        infos_basicas_objetivo_profissional AS professional_objective,
        TO_TIMESTAMP(infos_basicas_data_criacao, 'dd-MM-yyyy HH:mm:ss') AS created_at,
        infos_basicas_inserido_por AS inserted_by,
        
        TO_TIMESTAMP(infos_basicas_data_atualizacao, 'dd-MM-yyyy HH:mm:ss') AS updated_at,
        infos_basicas_codigo_profissional AS professional_code,
        TO_TIMESTAMP(informacoes_pessoais_data_aceite, 'dd/MM/yyyy HH:mm') AS acceptance_date,
        
        -- Verificar se os dados não se diferem
        infos_basicas_nome AS name,
        -- informacoes_pessoais_nome AS name2,
        
        -- Verificar se não é só null
        informacoes_pessoais_cpf AS cpf,
        
        -- Um é o valor encurtado e o outro o valor completo inserido pelo candidato
        infos_basicas_sabendo_de_nos_por AS source,
        -- informacoes_pessoais_fonte_indicacao AS source_text,
        
        -- Verificar se são iguais
        infos_basicas_email AS email,
        -- informacoes_pessoais_email AS email2,
        
        -- Verificar se não é só null
        informacoes_pessoais_email_secundario AS secondary_email,
        TO_DATE(informacoes_pessoais_data_nascimento, 'dd-MM-yyyy') AS birth_date,
        
        -- Verificar se não é só null e se não são iguais
        infos_basicas_telefone_recado AS secondary_phone_number,
        -- informacoes_pessoais_telefone_recado AS secondary_phone_number,
        
        -- Verificar se não são iguais
        infos_basicas_telefone AS phone_number,
        informacoes_pessoais_telefone_celular AS cellphone,
        
        informacoes_pessoais_sexo AS gender,
        informacoes_pessoais_estado_civil AS marital_status,
        CASE 
            WHEN TRIM(LOWER(informacoes_pessoais_pcd)) = 'não' THEN false
            WHEN TRIM(LOWER(informacoes_pessoais_pcd)) = 'nao' THEN false
            WHEN TRIM(LOWER(informacoes_pessoais_pcd)) = 'sim' THEN true 
            ELSE NULL
        END AS is_pwd,
        
        -- São muito parecidos, mas o location contem cidade e estado
        infos_basicas_local AS location,
        -- informacoes_pessoais_endereco AS address,
        
        -- Verificar se não é tudo nulo
        informacoes_pessoais_skype AS skype,
        
        -- Verificar se não é tudo nulo
        informacoes_pessoais_url_linkedin AS linkedin_url,
        
        -- Verificar se não é tudo nulo
        informacoes_pessoais_facebook AS facebook_url,
        
        informacoes_profissionais_titulo_profissional AS professional_title,
        informacoes_profissionais_area_atuacao AS area_of_expertise,
        
        -- Verificar se não é tudo nulo
        informacoes_profissionais_conhecimentos_tecnicos AS technical_knowledge,
        
        -- Verificar se não é tudo nulo
        informacoes_profissionais_certificacoes AS certifications,
        informacoes_profissionais_outras_certificacoes AS other_certifications,
        
        
        informacoes_profissionais_remuneracao AS salary, 
        informacoes_profissionais_nivel_profissional AS professional_level,
        formacao_e_idiomas_nivel_academico AS academic_level,
        formacao_e_idiomas_nivel_ingles AS english_level,
        formacao_e_idiomas_nivel_espanhol AS spanish_level,
        IF(TRIM(formacao_e_idiomas_outro_idioma) = '-', null, formacao_e_idiomas_outro_idioma) AS other_language,
        
        cv_pt AS cv_pt,
        -- verificar se não é tudo nulo
        cv_en,
        formacao_e_idiomas_instituicao_ensino_superior AS higher_education_institution,
        
        -- Parece conter outros cursos que não são de idiomas
        formacao_e_idiomas_cursos AS language_courses,
        formacao_e_idiomas_ano_conclusao AS language_courses_year,
        
        -- Verificar se todos não são somente nulos
        informacoes_pessoais_download_cv AS cv_filename,
        informacoes_profissionais_qualificacoes AS qualifications,
        informacoes_profissionais_experiencias AS experiences,
        formacao_e_idiomas_outro_curso AS other_courses,
        
        -- Verificar se não é nulo
        cargo_atual_id_ibrati AS current_job_id,
        cargo_atual_email_corporativo AS corporate_email,
        cargo_atual_cargo_atual AS current_job,
        cargo_atual_projeto_atual AS current_job_project,
        cargo_atual_cliente AS current_job_client,
        cargo_atual_unidade AS current_job_unit,
        cargo_atual_data_admissao AS current_job_admission_date,
        cargo_atual_data_ultima_promocao AS current_job_last_promotion_date,
        cargo_atual_nome_superior_imediato AS current_job_immediate_superior_name,
        cargo_atual_email_superior_imediato AS current_job_immediate_superior_email
    from applicants
    -- ORDER BY id desc
""").createOrReplaceTempView("tmp_transformed_applicants")

In [ ]:
spark.sql(f"""SELECT * FROM tmp_transformed_applicants""").write.jdbc( \
    url="jdbc:mysql://localhost:3306/decision", \
    table="applicants", \
    mode="append", \
    properties={"driver":"com.mysql.jdbc.Driver", "user":"decision", "password":"1234"} \
    )

# Carrega os dados de candidaturas no banco relacional

In [ ]:
spark.sql(f"""
    SELECT
        RANK() OVER (PARTITION BY 1 ORDER BY p.id, p.prospects_codigo) AS id,
        id AS vacancy_id,
        prospects_codigo AS applicant_id,
        prospects_situacao_candidado AS status,
        TO_DATE(prospects_data_candidatura, 'dd-MM-yyyy') AS application_date,
        TO_DATE(prospects_ultima_atualizacao, 'dd-MM-yyyy') AS last_update,
        -- prospects_comentario AS comment,
        prospects_recrutador AS recruiter
        
    -- titulo: string (nullable = true)
    -- modalidade: string (nullable = true)
    -- prospects_nome: string (nullable = true)
    -- prospects_codigo: string (nullable = true)
    -- prospects_situacao_candidado: string (nullable = true)
    -- prospects_data_candidatura: string (nullable = true)
    -- prospects_ultima_atualizacao: string (nullable = true)
    -- prospects_comentario: string (nullable = true)
    -- prospects_recrutador: string (nullable = true)
    -- id: long (nullable = true)
    FROM
        prospects p
    WHERE
        id IN (SELECT id FROM vacancy)
        AND prospects_codigo IN (SELECT id FROM applicants)
""").createOrReplaceTempView("tmp_transformed_prospects")

In [ ]:
spark.sql(f"""
    SELECT * FROM tmp_transformed_prospects          
""").write.jdbc( \
    url="jdbc:mysql://localhost:3306/decision", \
    table="vacancies_applicants", \
    mode="append", \
    properties={"driver":"com.mysql.jdbc.Driver", "user":"decision", "password":"1234"} \
    )

# Cria dataset para treino do modelo.

In [ ]:
spark.sql(f"""
    SELECT
        vacancy_id,
        count(distinct applicant_id) as total_applicants
    FROM
        tmp_transformed_prospects
    WHERE
        id IN (SELECT id FROM vacancy)
        AND applicant_id IN (SELECT id FROM applicants)
        AND LOWER(status) LIKE '%contratado%'
    GROUP BY 1
    ORDER BY 2 DESC
""").show(20, False)

In [ ]:
spark.sql(f"""
    SELECT
        total_applicants,
        count(distinct vacancy_id) as total_vacancies,
        total_applicants * count(distinct vacancy_id) as lines
    FROM
        (SELECT
            vacancy_id,
            count(distinct IF( LOWER(status) LIKE '%contratado%', applicant_id, NULL)) as total_applicants,
            COUNT(1) as lines
        FROM
            tmp_transformed_prospects
        WHERE
            id IN (SELECT id FROM vacancy)
            AND applicant_id IN (SELECT id FROM applicants)
            
        GROUP BY 1
        ORDER BY 2 DESC
        ) AS t
    GROUP BY 1
    ORDER BY 1 DESC
""").show(20, False)

In [ ]:
import re
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
from data_transform_utilities.text_parsers import clean_str

In [ ]:
spark.udf.register("clean_str", clean_str)

In [ ]:
spark.sql("SELECT clean_str('100-200 - Test') as title").show()

In [ ]:
spark.sql(f"""select clean_str('consultant operations - ') as title""").show(10, False)

In [ ]:
spark.sql(f"""
    select 
        normalized_title as title,
        count(distinct id) as vacancies 
    from 
        tmp_transformed_vacancy  
    group by 
        1 
    order by 
        2 desc
""").createOrReplaceTempView("tmp_normalized_titles")

In [ ]:
spark.sql("select * from tmp_normalized_titles order by vacancies desc").show(100, False)

In [ ]:
spark.sql("""
    select 
        vacancies, 
        count(distinct title) as titles
    from tmp_normalized_titles 
    group by 1 
    order by 1 desc
""").show(10, False)

In [ ]:
spark.sql("""
    select 
        CASE
            WHEN vacancies >= 20 THEN '20+'
            WHEN vacancies >= 10 THEN '10-20'
            WHEN vacancies >= 5  THEN '05-10'
            WHEN vacancies >= 2  THEN '02-05'
            ELSE '01'
        END as vacancies, 
        SUM(vacancies) as total_vacancies,
        count(distinct title) as titles,
        SUM(vacancies) / count(distinct title) as avg_vacancies,
        MIN(vacancies) as min_vacancies,
        MAX(vacancies) as max_vacancies
    from 
        tmp_normalized_titles 
    group by 1 
    order by 1 desc
""").show(100, False)

In [ ]:
spark.sql("""
    select 
        CASE
            WHEN vacancies >= 20 THEN '20+'
            WHEN vacancies >= 10 THEN '10-20'
            WHEN vacancies >= 5  THEN '05-10'
            WHEN vacancies >= 2  THEN '02-05'
            ELSE '01'
        END as vacancies, 
        SUM(vacancies) as total_vacancies,
        count(distinct title) as titles,
        SUM(vacancies) / count(distinct title) as avg_vacancies,
        MIN(vacancies) as min_vacancies,
        MAX(vacancies) as max_vacancies
    from 
        tmp_normalized_titles 
    group by 1 
    order by 1 desc
""").show(100, False)

# Indexação no Solr

In [ ]:
import pysolr
from sqlalchemy import create_engine
import pandas as pd
import json

In [ ]:
solr = pysolr.Solr('http://localhost:8983/solr/vacancies') # Replace with your Solr URL and core name

In [ ]:
def truncate_index(collection):
    solr = pysolr.Solr(f'http://localhost:8983/solr/{collection}')
    solr.delete(q='*:*')
    solr.commit()

In [ ]:
truncate_index('vacancies')
truncate_index('applicants')

In [ ]:
engine = create_engine("mysql+pymysql://decision:1234@localhost/decision?charset=utf8")

In [ ]:
def read_vacancy_chunck(conn, page, page_size):
    return pd.read_sql_query(f"""
        SELECT
            id,
            title,
            normalized_title,
            main_activities,
            technical_and_behavioral_skills,
            behavioral_skills,
            state,
            city,
            country
        FROM
            vacancies
        limit  {page},{page_size}
    """, conn)

In [ ]:
def read_applicants_chunck(conn, page, page_size):
    return pd.read_sql_query(f"""
        SELECT
            id,
            professional_objective,
            professional_title,
            name,
            email,
            -- birth_date,
            gender,
            is_pwd,
            marital_status,
            technical_knowledge,
            academic_level,
            -- salary,
            english_level,
            spanish_level,
            cv_pt,
            higher_education_institution,
            language_courses,
            location
        FROM
            applicants
        limit  {page},{page_size}
    """, conn)

In [ ]:
def index_documents(conn, collection, documents_fn, page_size=10):
    solr = pysolr.Solr(f'http://localhost:8983/solr/{collection}')
    with engine.connect() as conn:
        page = 0
        result = documents_fn(conn, page, page_size)
        
        while len(result) > 0:
            data = json.loads(result.to_json(orient='records'))

            try:
                solr.add(data)
            except Exception as e:
                print(f"Error indexing data: {e}")
            
            page = page + page_size
            result = documents_fn(conn, page, page_size)

    solr.commit()

In [ ]:
conn = engine.connect()
index_documents(conn, 'vacancies', read_vacancy_chunck, 50)
conn.close()

In [ ]:
conn = engine.connect()
index_documents(conn, 'applicants', read_applicants_chunck, 1000)
conn.close()

# Usa LLM para extrair os requisitos das Vagas e as habilidades dos candidatos

In [ ]:
llm_api_endpoint = 'http://192.168.101.186:1234/v1/chat/completions'
llm_api_headers = {
    'Content-Type': 'application/json',
    'Connection': 'keep-alive',
    'Host': 'localhost'
}

# Carrega apenas as vagas que tiveram candidatos

In [ ]:
conn = engine.connect()
db_vacancies = pd.read_sql_query(f"""
        SELECT
            id,
            main_activities,
            technical_and_behavioral_skills,
            behavioral_skills
        FROM
            vacancies
        WHERE
            id IN
             (SELECT vacancy_id FROM vacancies_applicants WHERE applicant_id IS NOT NULL)
        -- ORDER BY id
    """, conn)
conn.close()

In [ ]:
from sqlalchemy import create_engine, update, Table, MetaData
from sqlalchemy.orm import sessionmaker

In [ ]:
def update_vacancy_llm_result(id :int, llm_result :str, engine):
    metadata = MetaData()
    vacancy_table = Table('vacancies', metadata, autoload_with=engine)
    metadata.create_all(engine)

    # Start a session
    Session = sessionmaker(bind=engine)
    session = Session()

    # Update a row
    stmt = update(vacancy_table).where(vacancy_table.c.id == id).values(llm_result=llm_result)
    session.execute(stmt)
    session.commit()

    # Close the session
    session.close()

In [ ]:
prompt = ""
with open('../agents/vacancies_json_extraction.txt', 'r') as f:
    prompt = f.read()
        
for l,v in db_vacancies.iterrows():
    vacancy_description = f"""
    {v['main_activities']}
    {v['technical_and_behavioral_skills']}  
    {v['behavioral_skills']}
    """
    
    #result = ""
    vacancy_prompt = prompt.replace('${VACANCY_DESCRIPTION}', vacancy_description)
    result = requests.post(llm_api_endpoint, headers=llm_api_headers, json={"messages":[{"role":"user","content":vacancy_prompt}]})
    
    try:
        response = result.json().get("choices")[0].get("message").get("content")
        str_json = extract_json(response)
        response = str_json

        print(f"Updating Vacancy ID: {v['id']}")
        update_vacancy_llm_result(v['id'], json.dumps(response), engine) 
    except Exception as e:
        print(f"Error processing vacancy {v['id']}: {e}")
        print(f"Response: {result.text}")
        continue

# Analisa a cardinalidade dos requisitos que o LLM gerou

In [ ]:
conn = engine.connect()
db_vacancies = pd.read_sql_query(f"""
        SELECT
            id,
            title,
            llm_result
        FROM
            vacancies
        WHERE
            llm_result IS NOT NULL
        -- LIMIT 1
    """, conn)
conn.close()

In [ ]:
json_list = []
for l,v in db_vacancies.iterrows():
    #print(l)
    try:
        llm_result = json.loads(v["llm_result"].replace("'", "\""), strict=True)
        llm_result["id"] = v["id"]
        json_list.append(llm_result)
    except Exception as e:
        print(f"Error processing vacancy {v['id']}: {e}")
        print(v["llm_result"])
        continue

In [ ]:
spark.createDataFrame(json_list).createOrReplaceTempView("tmp_llm_vacancy")

In [ ]:
spark.sql(f"""
    SELECT 
        id, 
        title,
        r.name as requirement_name,
        r.significant_judgement as incidence
    FROM tmp_llm_vacancy
        LATERAL VIEW explode(requirements) AS r
""").createOrReplaceTempView("tmp_llm_vacancy_exploded")

In [ ]:
spark.sql(f"""
    SELECT
        requirement_name,
        count(distinct id) as total
    FROM
        tmp_llm_vacancy_exploded
    GROUP BY 1
    ORDER BY 2 DESC
""").show(100, False)

In [ ]:
spark.sql(f"""
    SELECT
        count(distinct id) as total
    FROM
        tmp_llm_vacancy_exploded
""").show(10, False)